.containerPrinci-2{
    background-color: #EAF2FD;
    width: 100%;
    height: auto;
    
}
.containerText-2{
    text-align: justify;
    padding-left: 14.8%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.paragraph{
    width: 50%;
    font-size: 20px;
}
h1{
    font-size: 2rem;
}
/* /////////Tabletas///////// */
@media (min-width: 700px) and (max-width: 1200px) {
    .containerText-2{
        text-align: justify;
        padding: 20px 100px;
    }
    .tituloAboutMe{
        text-align: center;
    }
    .paragraph{
        width: 100%;
        padding-left: 0px;
    }
  }
  /* /////////Celulares///////// */
  @media (max-width: 700px) {
    .tituloAboutMe{
        text-align: center;
        padding-right: 50px;
    }
    .paragraph{
        width: 80%;
        padding-left: 0px;
    }
  }