.containerPrinci-5 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .containerDer {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
  }
  .containerBoxImgDer {
    width: 100%;
    height: auto;
  }
  .imgTrabajosDer{
    width: 80%;
    height: auto;
  }
  
  .containerContentDer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    right: -100px;
  }
  
  .tituloImgDer,.subtexto{
    color: black;
    margin: 0;
    line-height: 2;
    display: flex;
    margin-left: 30px;
    font-size: 30px;
    
  }
  
  .containerButtonsDer {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  
  .btnImgDer {
    margin-top: 20px;
    padding: 12.5px 30px;
    border: 0;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    font-size: 20px;
  }
  #btnRepositorioImgDer{
    background-color: #f5f5f5;
    border: 1px solid #2ba8fb;
    color: black;
    margin-right: 20px;
    
  }
  
  .btnImgDer:hover {
    background-color: #2409ee;
    box-shadow: 0 0 50px #004e8250;
    transform: scale(1.1);
  }
  
  .btnImgDer:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

   /* /////////Tabletas///////// */
@media (min-width: 760px) and (max-width: 1100px) {
  .containerContentDer{
    padding-top: 20px;
    align-items: flex-start;
    position: relative;
    right: -10px;
  }
  .btnImgDer {
    width: 150px;
    height: 50px;
    font-size:15px;
  }
}
/* /////////Celulares///////// */
@media (max-width: 760px) {
 
  .containerDer{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .containerContentDer{
    padding-top: 20px;
    align-items: flex-start;
    position: relative;
    right: -20px;
  }
  .tituloImgDer,.subtexto{
    color: black;
    line-height:0.6;
    margin-left: 00px;
  }
  .tituloImgDer{
    margin-bottom: 10px;
  }
  .containerButtonsDer{
  display: flex;
  justify-content: center;
  margin-left: 0px;
  }
  .btnImgDer {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size:15px;
    margin: 20px 0;
  }
}