.containerPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 50px;
  }
  .containerContenido{
    width: 90%;
    height: 400px;
    display: flex;
  }
  .containerText {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
  .textTitulo {
    font-size: 2.5rem;
    margin: 10px;
    text-align: left;
    color: black;
    
  }
  .text1 {
    color: black;
    opacity: .6;
    text-align: justify;
    width: 83%;
    margin-top: 0;
    margin-left: 10px;
    font-size: 20px;
  }
  .containerEnlaces2 {
    display: flex;
    flex-direction: row;
  }
  
  .containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .imgPerfil{
    width: 75%;
    height: auto;
    border-radius: 50%;
  }

  .containerLogoDescripcion {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  
  .logoRedesDescripcion {
    color: #00000097;
    width: 100%;
    height: 100%;
    margin: 10px 10px 0  0px;
    transition: ease-in-out .5s;
  }
  .logoRedesDescripcion:hover{
    color: #2407dc;
  }

  /* /////////Tabletas///////// */
@media (min-width: 700px) and (max-width: 1200px) {

  .containerPrincipal{
    width: auto;
    height: 700px;
    padding-left: 0px;
  }
  .containerText{
    padding: 0 20px;
    height: 500px;
    max-height: 500px;
  }
  .containerImg {
    width: 100%;
    height: 500px;
  }
  .imgPerfil{
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}
/* /////////Celulares///////// */
@media (max-width: 700px) {
  .containerPrincipal{
    width: auto;
    height: 750px;
  }
  .containerImg {
    display: none;
  }
  .containerText{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-inline-start: 0px;
/*       background-color: aquamarine;
 */  }
}