.containerPinci-3 {
    width: 100%;
    height: auto;
    margin: 50px 0;
  }
  .containerSub{
    padding: 0 120px;
  }
  .containerSub h1 {
    text-align: center;
    margin: 40px 0px;
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  .titulo{
    color: black;
  }
  .oneBox {
    background-color: white;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding-left: 5px;
    justify-content: flex-end;
  }
  .logo{
    width: 30%;
    height: auto;
    margin-left: 15px;
    
  }
  .tituloBox{
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
  }
  /* .oneBox img{
    top: 60%;
  }
  .oneBox h5{
    position: relative;
    top: 55%;
    display: flex;
    padding-left: 20px;
    font-size: 15px;
  } */

/* implementacion de la parte responsive de la pagina */

@media (max-width:758px){
  .oneBox {
    margin: 10px;
    width: 70%;
  }
  
  .boxes{
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .containerSub{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .oneBox h5{
    padding-left: 20px;
  }
  .logo{
    display: block;
    width: 25%;
    margin-left: 35px;
  }
}